.navbar-brand{
    border: 2px solid green;
    background-color: rgb(253, 141, 14);
    color: white;
    border-radius: 10px;
    padding: 5px 5px;
    font-weight:bolder;
}
.bg-color{
    background-color: #FCEAE8;
    border-radius: 10px;
}
.carousel-item{
    padding: 15px 40px;
}
.container{
    margin-bottom: 100px;
}
.item-style img{
    width: 200px;
} 
.item-style{
    border:2px solid green;
    border-radius: 10px;
}
.super-button{
    border: none;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    font-weight: 800px;
}
.price{
    color: green;
}
.card-body{
    border: none;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
.card-footer{
    background-color: rgb(77, 136, 77);
}
#Subscribe{
    height: 300px;
}
#Subscribe h6{
    color: gray;
}